body {
    background-image: url(/assets/images/qbkls.png);
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: #cccccc;
    border-width: 5px;
}

nav {
    float: right;
    padding-top: 20px;
}

footer {

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

section {
    padding: 10px;
}


#logo {
    float: left;
    background-color: #4aaaa5;
    color: white;
    width: 150px;
    height: 20px;
    padding: 20px;
    position: relative;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#container {
    clear:both;
}

#myPic {
    width: 150px;
    float: left;
    margin: 10px;
}