body {
    background-image: url(../images/qbkls.png);
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 5px;
    border-color: #cccccc;
    background-color: white;
    height: 60px;
    width: 100%;
    /* margin: 0 auto; */
}

nav {
    float: right;
    padding-top: 20px;
    margin-right: 10px;
}

footer {
    background-color: #666666;
    text-align: center;
    height: 20px;
    border-style: solid;
    border-width:0px;
    border-top-width: 10px;
    border-color: #4aaaa5;
    padding-top: 40px;
    color: white;
    position: sticky;
    bottom: 0%;
    right: 0%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
}

section {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 340px;
    height: 140px;
}

button {
    
}

#logo {
    float: left;
    background-color: #4aaaa5;
    color: white;
    width: 150px;
    height: 20px;
    padding: 20px;
    position: relative;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#container {
    clear:both;
    width: 960px;
    margin: 0 auto;
}

#myPic {
    width: 150px;
    float: left;
    margin: 10px;
}